<mat-toolbar color="primary">
  @if (isLoggedIn()) {
    <button mat-icon-button matTooltip="Menu" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  }

  <h1>MQTT Rule Engine</h1>

  <span class="toolbar-spacer"></span>

  @if (isLoggedIn()) {
    <button class="logoutButton" mat-icon-button (click)="logout()" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [opened]="sidenavOpened()" [mode]="isMobile() ? 'over' : 'side'">
    @if (isLoggedIn()) {
      <mat-nav-list>
        @for (item of navItems; track item.route) {
          <a mat-list-item class="mat-list-item" [routerLink]="item.route" routerLinkActive="active">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      </mat-nav-list>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>

</mat-sidenav-container>
