<div class="page-header">
  @if (loading()) {
    <mat-progress-spinner mode="indeterminate" diameter="30"/>
  } @else {
    <h1>{{ isEditMode() ? 'Edit Topic' : 'Create new Topic' }}</h1>
  }
</div>

<mat-card>
  @if (loading()) {
    <mat-progress-spinner mode="indeterminate" diameter="30"/>
  } @else {
    <form (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="cool name" [formField]="topicForm.name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="cool description" [formField]="topicForm.description">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Topic Path</mat-label>
        <input matInput placeholder="path of the mqtt topic (for example: /sensor/temperature)" [formField]="topicForm.topicPath">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Direction</mat-label>
        <mat-select [formField]="topicForm.direction">
          @for (option of TOPIC_DIRECTION_OPTIONS; track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Data Format</mat-label>
        <mat-select [formField]="topicForm.dataFormat">
          @for (option of TOPIC_DATA_FORMAT_OPTIONS; track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Device</mat-label>
        <mat-select [formField]="topicForm.deviceId">
          @for (d of devices; track d.id) {
            <mat-option [value]="d.id">{{ d.name }} ({{ d.description }})</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" [disabled]="topicForm().invalid()">{{ isEditMode() ? 'Edit' : 'Create' }}</button>
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
      </div>

    </form>
  }
</mat-card>
