<div class="page-header">
  <h1>{{ isEditMode() ? 'Edit Topic' : 'Create new Topic' }}</h1>
</div>

<mat-card>
  <form (ngSubmit)="submit()">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="cool name" [formField]="topicForm.name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="cool description" [formField]="topicForm.description">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Topic Path</mat-label>
      <input matInput placeholder="path of the mqtt topic (eg. /sensor/temperature)" [formField]="topicForm.topicPath">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Direction</mat-label>
      <mat-select [formField]="topicForm.direction" [(value)]="selectedDirection">
        <mat-option [value]="0">Incoming (IOT Device -> Here)</mat-option>
        <mat-option [value]="1">Outgoing (Here -> IOT Device)</mat-option>
        <mat-option [value]="2">BOTH (Two-way)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Data Format</mat-label>
      <mat-select [formField]="topicForm.dataFormat" [(value)]="selectedFormat">
        <mat-option [value]="0">JSON</mat-option>
        <mat-option [value]="1">Text</mat-option>
        <mat-option [value]="2">Numeric</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Device</mat-label>
      <mat-select [formField]="topicForm.deviceId" [(value)]="selectedDevice">
        @for (d of devices; track d.id) {
          <mat-option [value]="d.id">{{ d.name }} ({{ d.description }})</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" [disabled]="topicForm().invalid()">{{ isEditMode() ? 'Edit' : 'Create' }}</button>
      <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
    </div>

  </form>
</mat-card>
